    <h2>Ticket Listesi</h2>
    <ul>
    <li *ngFor="let ticket of tickets">
        <ng-container *ngIf="editingTicketId !== ticket.id; else editForm">
        <strong>{{ ticket.title }}</strong> - {{ ticket.description }} - {{ticket.status}}
        <button (click)="deleteTicket(ticket.id)">Sil</button>
        <button (click)="editTicket(ticket)">Düzenle</button>
        </ng-container>

        <ng-template #editForm>
        <input [(ngModel)]="updatedTicket.title" placeholder="Başlık" />
        <input [(ngModel)]="updatedTicket.description" placeholder="Açıklama" />
        <button (click)="updateTicket()">Kaydet</button>
        <button (click)="editingTicketId = null">İptal</button>
        </ng-template>
    </li>
    </ul>
    <button (click)="goToCreate()">Yeni Ticket Oluştur</button>